@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        
        <h2>What do I know about you?</h2>
        
        <dl>
            @foreach (var claim in User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
                <dt>Access Token</dt>
                <dd>@User.FindFirst("access_token")?.Value</dd>
        </dl>
        
        
        
    </div>
</div>